.header {
    position: relative;
    background: #DDDDDD 0% 0% no-repeat padding-box;
}

.header-p {
    position: absolute;
    margin-left: 52px;
    letter-spacing: 1.2px;
    color:black;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 0px;
    width: 113px;
    height: 0px;
    text-align: left;
    opacity: 1;
}
.texts {
    position: relative;
    width: 100%;
}
.text1,.text2 {
    position: absolute;
    text-align: left;
    letter-spacing: 1.3px;
    opacity: 1;
    z-index: 1;
    left: 1200px;
    color: #1A1A1A;
}
.text1 {
    font-weight: bolder;
    font-size: 100px;
    top: 20px; 
}
.text2 {
    font-size: 25px;
    font-weight: bold;
    z-index: 1;
    top: 150px; 
}
.slider {
    position: relative;
    width: 1500px;
    height: 800px;
    overflow: hidden;
}
  
.slide {
    display: none;
    width: 1500px;
    height: 800px;
} 
.slide.active {
    display: block;
}
.text3 {
    position: absolute;
    top: 50%;
    left: 1200px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: black; 
}

.text4, .text5 {
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
}
.text6{
    font-size: 20px;
    line-height: 1.5;
}
.icons{
    display: flex;
    margin-left: 70px;
}
.icons img{
    width: 30px;
}